body {
  background-color: rgb(185, 80, 80);
}

.title {
  text-align: center;
}

.title h1 {
  color: white;
  font-family: "Oswald", sans-serif;
  padding: 15% 4px 6px 4px;
}

.title a {
  font-family: "League Spartan", sans-serif;
  color: rgb(0, 255, 255);
  text-decoration: none;
}
